*,
*::after,
*::before{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* li{
    
} */

a{
    text-decoration: none;
    color: inherit;
}

/* body{
    
} */

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* .menu{
    
} */

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





