*,
*::after,
*::before{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---title---*/

.title{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/* text */

.text{
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
}

/*---prototype-main---*/

.prototype-main{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.prototype-main__title{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.prototype-main__photo{
    width: 630px;
    height: 774px;
}


.prototype-main__content-block{
    margin-top: 198.5px;
}

.prototype-main__text-and-button{
    margin-left: 40px;
}

.prototype-main__button{
    margin-top: 70px;
    width: 245px;
    height: 60px;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-shrink: 0;
    background: #A1B29F;
    border: none;
}

.prototype-main__social-network{
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-left: 411px;
    margin-right: 140px;
    gap: 40px;
    max-width: 170px;
}

/*---prototype-whatisit---*/

.prototype-whatisit{
    margin-top: 160px;
}

.prototype-whatisit__list{
    display: flex;
    justify-content: space-between;
}

.prototype-whatisit__item{
    width: 360px;
    text-align: center;
    border-bottom: 2px solid black;
}

/*---prototype-overtenyears---*/

.prototype-overtenyears{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.prototype-overtenyears__title{
    margin-top: 160px;
}

.prototype-overtenyears__list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    margin-top: 100px;
}

.prototype-overtenyears__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 240px;
    border: 2px solid black;
    outline: 1px solid black;
}

/* .prototype-overtenyears__item + .prototype-overtenyears__item{
    border-left: 0;
} */

.prototype-overtenyears__itemscontent{
    text-align: center;
}

/* prototype-two-workers */

.prototype-two-workers{
    display: flex;
    margin-top: 100px;
    margin-bottom: 160px;
}

.prototype-two-workers__photo{
    width: 704px;
    height: 475px;
}

.prototype-two-workers__right-block{
    margin-top: 68px;
    margin-left: 40px;
    max-width: 515px;
}

.prototype-title__two-workers{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.prototype-text__two-workers{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.prototype-two-workers__button{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background-color: #A1B29F;
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    margin-top: 52px;
}

/*---prototype-video---*/

.prototype-video{
    display: flex;
    justify-content: center;
    max-width: 1160px;
    max-height: 700px;
    margin-top: 100px;
    margin-bottom: 200px;
}

/*---prototype-our-services---*/

.prototype-our-services__first-item{
    display: flex;
    background-color: #E3DACE;
}

.prototype-our-services__second-item{
    display: flex;
    background-color: #D4CDC3;
}

.prototype-our-services__photo{
    max-width: 720px;
    max-height: 536px;
}

.prototype-our-services__itemscontent{
    margin-left: 41px;
}

.prototype-our-services__title{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 110px;
    margin-bottom: 40px;
}

.prototype-our-services__text{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 55px;
}

.prototype-our-services__button{
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background-color: #A1B29F;
    border: none;
}

/*---prototype-garanty---*/

.prototype-garanty{
    border: 7px solid #A1B29F;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 201px;
    margin-bottom: 210px;
}

.prototype-garanty__content{
    margin-right: 75px;
    margin-bottom: 51px;
}

.prototype-garanty__title{
    text-align: center;
    margin-left: -135px;
}

.prototype-garanty__text{
    max-width: 922px;
    margin-left: 108px;
    margin-right: 130px;
}

.prototype-garanty__photo{
    display: flex;
    justify-content: flex-end;
}

.footer-panel{
    display: flex;
    background-color: #715B4B;
    min-height: 380px;
    color: #F6F6F6;
    gap: 76px;
}

.footer-panel__links{
    display:flex;
    flex-direction: column;
    
}


/* aboutUs */

.aboutUs-main-title{
    text-align: center;  
}

.aboutUs-main-window-photo{
    width: 1160px;
    height: 536.5px;
    flex-shrink: 0;
    margin-top: 8px;
}

.aboutUs-advantages{
    display: flex;
}

.aboutUs-advantages__info-block{
    text-align: center;
    margin-top: 157px;
}

.aboutUs-advantages__info-block + .aboutUs-advantages__info-block {
   margin-left: 200px;
}

.aboutUs-founder{
    display: flex;
    margin-top: 160px;
    margin-bottom: 160px;
}

.aboutUs-founder__photo{
    width: 460px;
    height: 462px;
    flex-shrink: 0;
}

.aboutUs-founder__info{
    margin-left: 40px;
    width: 660px;
}

.aboutUs-founder__info-title{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.aboutUs-founder__info-text{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.aboutUs-philosophy{
    margin-bottom: 160px;
}

.quote-text{
    color: #323232;
    text-align: right;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.aboutUs-smi__text{
    margin-bottom: 100px;
}

.aboutUs-smi__reviews{
    display: flex;
    margin-right: 65px;
    margin-left: 78px;
    margin-bottom: 165px;
}

.aboutUs-smi__reviews-block + .aboutUs-smi__reviews-block{
    margin-left: 30px;
}

.aboutUs-lead{
    margin-bottom: 261px;
}

.aboutUs-lead__button{
    display: flex;
    justify-content: center;
}

.lead-button{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
}
