*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background-color: #F3EFEA;;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo > img{
    height: 86px;
    width: 87px;
}

/*---TITLE---*/

.title{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

/*---TEXT---*/

.text{
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

/*---PROTOTYPE---*/

.prototype-main{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.prototype-main__title{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.prototype-main__photo{
    width: 630px;
    height: 774px;
}


.prototype-main__content-block{
    margin-top: 198.5px;
}

.prototype-main__text-and-button{
    margin-left: 40px;
}

.prototype-main__button{
    margin-top: 70px;
    width: 245px;
    height: 60px;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-shrink: 0;
    background: #A1B29F;
    border: none;
    cursor: pointer;
}

.prototype-main__social-network{
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    margin-left: 360px;
    gap: 30px;
    max-width: 170px;
}

.prototype-whatisit{
    margin-top: 160px;
}

.prototype-whatisit__list{
    display: flex;
    justify-content: space-between;
}

.prototype-whatisit__item{
    width: 360px;
    text-align: center;
    border-bottom: 2px solid black;
}

.prototype-overtenyears{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.prototype-overtenyears__title{
    margin-top: 160px;
}

.prototype-overtenyears__list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    margin-top: 100px;
}

.prototype-overtenyears__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 240px;
    border: 2px solid black;
    outline: 1px solid black;
}

.prototype-overtenyears__itemscontent{
    text-align: center;
}

.prototype-two-workers{
    display: flex;
    margin-top: 100px;
    margin-bottom: 160px;
}

.prototype-two-workers__photo{
    width: 704px;
    height: 475px;
}

.prototype-two-workers__right-block{
    margin-top: 68px;
    margin-left: 40px;
    max-width: 515px;
}

.prototype-title__two-workers{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.prototype-text__two-workers{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.prototype-two-workers__button{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background-color: #A1B29F;
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    margin-top: 52px;
    cursor: pointer;
}

.prototype-video{
    display: flex;
    justify-content: center;
    max-width: 1160px;
    max-height: 700px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.prototype-our-services__first-item{
    display: flex;
    background-color: #E3DACE;
}

.prototype-our-services__second-item{
    display: flex;
    background-color: #D4CDC3;
}

.prototype-our-services__photo{
    max-width: 720px;
    max-height: 536px;
}

.prototype-our-services__itemscontent{
    margin-left: 41px;
}

.prototype-our-services__title{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 110px;
    margin-bottom: 40px;
}

.prototype-our-services__text{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 55px;
}

.prototype-our-services__button{
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background-color: #A1B29F;
    border: none;
    cursor: pointer;
}

.prototype-garanty{
    border: 7px solid #A1B29F;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 201px;
    margin-bottom: 210px;
}

.prototype-garanty__border{
    border: 1px solid #715B4B;
    margin-left: 13px;
    margin-bottom: 13px;
    margin-right: 12px;
    margin-top: 14px;
}

.prototype-garanty__content{
    margin-right: 75px;
    margin-bottom: 51px;
}

.prototype-garanty__title{
    text-align: center;
}

.prototype-garanty__text{
    max-width: 922px;
    margin-left: 108px;
    margin-right: 130px;
}

.prototype-garanty__photo{
    display: flex;
    justify-content: flex-end;
}


/*---FOOTER---*/

.footer-panel{
    background-color: #715B4B;
    min-height: 380px;
    color: #F6F6F6;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
    max-height: 57px;
    margin-left: 140px;
    margin-right: 140px;
}

.footer-panel__links{
    display:flex;
    flex-direction: column;
}

.footer-panel__click-links{
    display:flex;
    flex-direction: column;
}

.footer-panel__click-links > a{
    margin-bottom: 9px;
}

.footer-panel__social-network img{
    width: 52px;
    height: 52px;
}

/*---ABOUT US---*/

.aboutUs-main-title{
    text-align: center;  
}

.aboutUs-main-window-photo{
    width: 1160px;
    height: 536.5px;
    flex-shrink: 0;
    margin-top: 8px;
}

.aboutUs-advantages{
    display: flex;
}

.aboutUs-advantages__info-block{
    text-align: center;
    margin-top: 157px;
}

.aboutUs-advantages__info-block + .aboutUs-advantages__info-block {
   margin-left: 200px;
}

.aboutUs-founder{
    display: flex;
    margin-top: 160px;
    margin-bottom: 160px;
}

.aboutUs-founder__photo{
    width: 460px;
    height: 462px;
    flex-shrink: 0;
}

.aboutUs-founder__info{
    margin-left: 40px;
    width: 660px;
}

.aboutUs-founder__info-title{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.aboutUs-founder__info-text{
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.aboutUs-founder__info-description{
    margin-bottom: 70px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.aboutUs-philosophy{
    margin-bottom: 160px;
}

.quote-text{
    color: #323232;
    text-align: right;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.aboutUs-smi__text{
    margin-bottom: 100px;
}

.aboutUs-smi__reviews{
    display: flex;
    margin-right: 65px;
    margin-left: 78px;
    margin-bottom: 165px;
}

.aboutUs-smi__reviews-block + .aboutUs-smi__reviews-block{
    margin-left: 30px;
}

.aboutUs-lead{
    margin-bottom: 261px;
}

.aboutUs-lead__title{
    margin-bottom: 118px;
}

.aboutUs-lead__button{
    display: flex;
    justify-content: center;
}

.lead-button{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

/*---CUSTOM FURNITURE---*/

.customFurniture-main-window{
    width: 100%;
    height: 639px;
    text-align: center;
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.50) 61.6%, rgba(0, 0, 0, 0.00) 100%), url('https://s3-alpha-sig.figma.com/img/0ed9/bb95/2f3694facdbef538840cf98345182ca6?Expires=1698019200&Signature=kUSzTlCnbZMeqFdMmQtSlcU3pZgVNnRNrPrOyFJ2eJgM9AABokJsY2Ut2Fst1ncKvUxdGnNbxDmNPTPOrt6bWbziG6wx33~yH3OY81FLQgFbgOhdp2g4EDfYUtavemmd47EDhcdC0F4bFnTuoqZmIBzoIEN5JvyPl6bIw-~zpBKkN2NC2HHLPgKc1T6Fm3lNhTOfPFB-YTiSzLMTDfbIkLYpXxn05uCu24xhabX6PnxXVGyri~bNSwDUBq~GnuxV-BbD2XxA~krJACN5jCnfYq33~jsxNYbEQoNjtTbwB3hhxtTUaunAuNEdsCh85-4c3k~CK8xwcSDyAYgwnf9ZdQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray 0px -110px / 100% 169.014% no-repeat;
    background-size: 100%;
}

.customFurniture-main-text{
    padding-top: 217px;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.customFurniture-main-title{
    color: #F6F6F6;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.customFurniture-main-black-title{
    color: #F6F6F6;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.order-button{
    width: 328px;
    height: 60px;
    flex-shrink: 0;
    background: #F6F6F6;
    color: #715B4B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

.customFurniture-our-advantages__title{
    margin-top: 160px;
    margin-bottom: 100px;
}

.customFurniture-our-advantages__block{
    width: 319px;
}

.customFurniture-our-advantages__block + .customFurniture-our-advantages__block{
    margin-left: 193px;
    margin-bottom: 78px;
}

.name-of-advantage{
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-bottom: 1px solid black ;
    padding-bottom: 10px;
}

.customFurniture-our-advantages__first-line{
    display: flex;
}

.customFurniture-our-advantages__second-line{
    display: flex;
}

.customFurniture-portfolio__title{
    margin-top: 160px;
    margin-bottom: 100px;
}

.customFurniture-portfolio__galery-main-photo{
    display: flex;
    justify-content: center;
}

.customFurniture-portfolio__galery-photos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 21px;
    gap: 16px;
}

.gallery-arrows{
    display: flex;
    align-items: center;
}

.customFurniture-stages__title{
    margin-top: 160px;
    margin-bottom: 100px;
}

.customFurniture-stages__content-first-line{
    display: flex;
    flex-direction: row;
}

.customFurniture-stages__content-second-line{
    display: flex;
    flex-direction: row;
}

.customFurniture-stages__content-block{
    border: 1px solid black;
    width: 398px;
}

.customFurniture-stages__content-block > .title{
    text-align: right;
    margin-right: 42px;
}

.customFurniture-stages__content-block > .text{
    text-align: left;
    margin-left: 40px;
    max-width: 232px;
}

.customFurniture-customers__title{
    margin-top: 160px;
    margin-bottom: 100px;
}

.customFurniture-customers__reviews{
    display: flex;
}

.customFurniture-customers__reviews-photos + .customFurniture-customers__reviews-photos{
    margin-left: 14px;
}

.customFurniture-leads__title{
    margin-top: 116px;
    margin-bottom: 118px;
}

.customFurniture-leads__button{
    display: flex;
    justify-content: center;
    margin-bottom: 199px;
}

.lead-button{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

/*---MASTER KLASS---*/

.masterKlass-main-window{
    width: 100%;
    height: 601px;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 58.25%, rgba(0, 0, 0, 0.00) 100%), url('https://s3-alpha-sig.figma.com/img/d6dd/b855/a421f60703afd138871fbee6111980d0?Expires=1699228800&Signature=ZidwsbCuQntjZuKlYcKNQPsHJB9bpyissf9xAVaVJ5ineMLcz5XZaOCOIa9C5JfKpjFCqEaNiYPZuqW9qWNG0MNlkHYP21Iq6uD4WF2S6qD0b4SZ9s3WGZLb4NRtpwGkDHc75pz~vxwCnQsfpQpXvMgR3f-Cd~LpGe8bwQ~PDp~rH6-huwMLf6RzzU~40XjF--dwpcFqA0JHX9gJ1KBT9rugNhSya1ds4WmJsOAqjcR1zhXNBBJZ7PJBqWPTFkxer-edI4bo~qAARHfEewcvMToKh5pFF2H6AyPqVh6f~-BSSOO7BTA-ma6KJIoNd0CE0VUaA1fH95vhc4qFB4W62w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray 0px 0px / 100% 181.163% no-repeat;
    background-size: 100%;
}

.masterKlass-main-window__title{
    text-align: center;
    padding-top: 268px;
    margin-bottom: 115px;
}

.masterKlass-main-window__title > .title{
    text-align: center;
    color: #F6F6F6;
}

.watch-masterKlass{
    width: 328px;
    height: 60px;
    flex-shrink: 0;
    background: #F6F6F6;
    color: #4C6D77;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
}

.masterKlass-our-works__title{
    margin-top: 160px;
    margin-bottom: 100px;
}

.masterKlass-our-works__content-row{
    display: flex;
}

.masterKlass-our-works__block{
    text-align: center;
    margin-bottom: 50px;
}

.masterKlass-our-works__block + .masterKlass-our-works__block{
    margin-left: 40px;
}

.masterKlass-our-works__button{
    display: flex;
    justify-content: center;
    margin-top: 108px;
    margin-bottom: 178px;
}

.watchMore-masterKlass{
    width: 328px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
}

.masterKlass-technic__title{
    margin-bottom: 100px;
}

.masterKlass-technic__section{
    display: flex;
    justify-content: center;
}

.masterKlass-technic__block{
    display: flex;
}

.masterKlass-technic__number{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 50%;
    background-color: #A1B29F;
    margin-right: 43px;
    margin-bottom: 81px;

}

.masterKlass-number{
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.masterKlass-second-chance{
    width: 100%;
    height: 508px;
    text-align: center;
    background: url('https://s3-alpha-sig.figma.com/img/b956/c5df/db2ad54401468e04f158f3434b5e7053?Expires=1699228800&Signature=iUkZI~Pi9~qm5aeAMAusU9v1W4kidcInH1wMi1pZy0QoCf7n~2dK~8fr~5U4zaLDh1FRzp7OUqvs~WUqw8edw7KpuzoXNW94RhKX-HYfGKTVuNswwgeEBPmP2~Lbg4OP0p6YLKnte3mum5yfPg1DNRblVyRYvI21sScmeRBgqlsuBbd9ND8VEfkAaPbf6B6s~MU7acZCzA~DeSJttNRd6NHmltKpduZFpdzgaHpeFVRqpIvvT3qtx8ezefe2niHOrW655CCW7zS4B2RtuPrNjmHdfltK4jQQKx55vJY7yDpmux6z6a1X86CzJiuqVjfT6Z0mUorSUsR0zPGKfs~Fxw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray 0px -1341px / 100% 425.145% no-repeat;
    background-size: 100%;
    transform: rotate(180deg);
}

.masterKlass-second-chance__title > .title{
    transform: rotate(180deg);
    color: #F6F6F6;
    text-align: center;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 182px;
    padding-left: 130px;
    padding-right: 130px;
}

.masterKlass-materials__title > .title{
    margin-top: 160px;
    margin-bottom: 104px;
}

.masterKlass-materials__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.masterKlass-materials__block > img{
    width: 280px;
    height: 345px;
}

.masterKlass-materials__text{
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: 23px;
    text-align: center;
}

.masterKlass-materials__block{
    text-align: center;
    margin-bottom: 97px;
}

.masterKlass-materials__block + .masterKlass-materials__block{
    margin-left: 40px;
}

.masterKlass-tableBusiness__title{
    margin-top: 158;
    margin-bottom: 99px;
}

.masterKlass-tableBusiness__content{
    display: flex;
    flex-direction: row;
    margin-bottom: 157px;
}

.masterKlass-tableBusiness__content-block{
    margin-right: 40px;
}

.masterKlass-tutorial{
    display: flex;
    flex-direction: row;
    margin-bottom: 322px;
}

.more-info-button{
    width: 245px;
    height: 60px;
    flex-shrink: 0;
    background: #A1B29F;
    color: #F6F6F6;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

.masterKlass-tutorial__content > .title{
    margin-top: 0;
    margin-bottom: 100px;
}

.masterKlass-tutorial__content > .text{
    margin-bottom: 47px;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    max-width: 591px;
}

.masterKlass-tutorial__photo{
    width: 469px;
    height: 475px;
}


/*---ADAPTIVE---*/

@media (max-width: 1305px) {
    .masterKlass-materials__content,
    .masterKlass-our-works__content-row,
    .masterKlass-tableBusiness__content{
        flex-direction: column;
    }
}

@media (max-width: 1250px) {
    .customFurniture-our-advantages__first-line,
    .customFurniture-our-advantages__second-line{
        flex-direction: column;
    }
    .customFurniture-our-advantages__block + .customFurniture-our-advantages__block{
        margin-left: 0;
        margin-bottom: 0;
    }
    .customFurniture-customers__reviews{
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .masterKlass-tutorial__photo{
        display: none;
    }
    .aboutUs-main-window-photo,
    .aboutUs-main-window-photo > img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1170px) {
    .prototype-main__content-block{
        margin-top: 20px;
    }
    .prototype-main__social-network {
        margin-left: 20px;
    }
    .prototype-main__title {
        font-size: 32px;
    }
    .prototype-main__photo {
        max-width: 100%;
        max-height: auto;
    }
    .prototype-our-services__button{
        margin-bottom: 20px;
    }
    .aboutUs-smi__reviews{
        flex-direction: column;
    }
}

@media (max-width: 1090px) {
    .footer-content{
        flex-direction: column;
    }
}

@media (max-width: 1050px) {
    .prototype-main__content-block {
        order: 1;
    }
    .prototype-main__photo {
        order: 2;
    }
    .prototype-main {
        flex-direction: column;
    }
    .prototype-main__button {
        margin-top: 10px;
    }
    .prototype-main__social-network {
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .prototype-whatisit__list {
        flex-direction: column;
    }
    .prototype-two-workers{
        flex-direction: column;
    }
    .prototype-our-services__first-item,  .prototype-our-services__second-item{
        flex-direction: column;
    }
}

@media (max-width: 910px) {
    .customFurniture-portfolio__galery-main-photo > img{
        width: 100%;
        height: auto;
    }
    .customFurniture-portfolio__galery-photos{
        display: none;
    }
}

@media (max-width: 825px) {
    .masterKlass-second-chance__title > .title{
        padding: 0;
        font-size: 32px;
        padding-bottom: 210px;
    }
    .masterKlass-materials__block > img{
        width: 100%;
        height: auto;
    }
    .aboutUs-founder__photo{
        margin-bottom: 20px;
    }
    .aboutUs-advantages__info-block + .aboutUs-advantages__info-block{
        margin-left: 0;
    }
    .aboutUs-founder,
    .aboutUs-advantages{
        flex-direction: column;
    }

}

@media (max-width: 825px) {
    .prototype-video > img,
    .prototype-our-services__photo > img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 800px) {
    .prototype-garanty {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .prototype-our-services{
        margin-bottom: 20px;
    }
    .prototype-garanty__text{
        margin: 10px 30px;
    }
}

@media (max-width: 745px) {
    .prototype-two-workers__photo, .prototype-two-workers__photo > img{
        width: 100%;
        height: auto;
    }
    .aboutUs-founder__info{
        width: auto;
    }
}

@media (max-width: 600px) {
    .masterKlass-tableBusiness__content-block > img{
        margin-right: 0;
        width: 100%;
        height: auto;
    }
    .masterKlass-main-window__title{
        padding-top: 50px;
    }
    .customFurniture-stages__content-first-line,
    .customFurniture-stages__content-second-line{
        flex-direction: column;
    }
    .customFurniture-main-text{
        padding-top: 97px;
    }
}

@media (max-width: 545px) {
    .footer-content{
        max-height: 100%;
        padding-bottom: 10px;
    }
    .footer-content a{
        padding-bottom: 10px;
    }
    .menu{
        display: none;
    }
}

@media (max-width: 500px) {
    .aboutUs-founder__photo,
    .aboutUs-founder__photo > img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 440px) {
    .customFurniture-stages__content-block,
    .customFurniture-our-advantages__block{
        width: auto;
    }
    .title{
        font-size: 32px;
    }
    .aboutUs-smi__reviews{
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 410px) {
    .watch-masterKlass{
        width: 220px;
    }
}

@media (max-width: 400px) {
    .prototype-whatisit__item{
        width: 100%;
    }
    .order-button{
        width: 152px;
    }
}